<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bottom Sheet</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
</head>
<body>
<!--
<body ng-app="MNEagle">
<div class="md-padding" ng-controller="bottomSheetExample">
    <h2 class="md-title">Usage</h2>
    <p>Bottom sheet can be displayed by clicking bottom button. It can be dismissed by either swiping down or clicking in the shaded area.</p>
    <h2 class="md-title">Actions</h2>
    <p>Use one of the following buttons to display a bottom sheet.</p>
    <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
        <md-button class="md-primary md-raised" ng-click="showListBottomSheet()" flex="50">Show as List</md-button>
        <md-button class="md-primary md-raised" ng-click="showGridBottomSheet()" flex="50">Show as Grid</md-button>
    </div>
    <div ng-if="alert"></div>
    <br/>
    <b layout="row" layout-align="center center" class="md-padding">
        {{alert}}
    </b>
</div>
<script type="text/ng-template" id="bottom-sheet-grid-template.html">
    <md-bottom-sheet class="md-grid" layout="column" ng-cloak>
        <div layout="row" layout-align="center center">
            <h4>Since <code>clickOutsideToClose = false</code>, drag down or press ESC to close</h4>
        </div>
        <div>
            <md-list flex layout="row" layout-align="center center">
                <md-list-item ng-repeat="item in items">

                    <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                        <md-icon md-svg-src="{{item.icon}}"></md-icon>
                         <div class="md-grid-text"> {{ item.name }} </div>
                    </md-button>

                </md-list-item>
            </md-list>
        </div>
    </md-bottom-sheet>
</script>
<script type="text/ng-template" id="bottom-sheet-list-template.html"><md-bottom-sheet class="md-list md-has-header" ng-cloak>
<md-subheader>Comment Actions</md-subheader>
<md-list>
    <md-list-item ng-repeat="item in items">

        <md-button
                ng-click="listItemClick($index)"
                md-autofocus="$index == 2"
                class="md-list-item-content" >
            <md-icon md-svg-src="{{item.icon}}"></md-icon>
            <span class="md-inline-list-icon-label">{{ item.name }}</span>
        </md-button>

    </md-list-item>
</md-list>
</md-bottom-sheet>
</script>
-->
<div ng-controller="BottomSheetExample" class="md-padding bottomSheetdemoBasicUsage" ng-cloak="" ng-app="MNEagle">
    <h2 class="md-title">Usage</h2>
    <p>Bottom sheets can be displayed by clicking one of the buttons below.  Once shown, it can be
        dismissed by either swiping down or clicking in the shaded area.</p>
    <h2 class="md-title">Actions</h2>
    <p>Use one of the following buttons to display a bottom sheet.</p>
    <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
        <md-button flex="50" class="md-primary md-raised" ng-click="showListBottomSheet()">Show as List</md-button>
        <md-button flex="50" class="md-primary md-raised" ng-click="showGridBottomSheet()">Show as Grid</md-button>
    </div>

    <div ng-if="alert">
        <br>
        <b layout="row" layout-align="center center" class="md-padding">
            {{alert}}
        </b>
    </div>
    <script type="text/ng-template" id="bottom-sheet-grid-template.html"><md-bottom-sheet class="md-grid" layout="column" ng-cloak>
    <div layout="row" layout-align="center center">
        <h4>Since <code>clickOutsideToClose = false</code>, drag down or press ESC to close</h4>
    </div>
    <div>
        <md-list flex layout="row" layout-align="center center">
            <md-list-item ng-repeat="item in items">

                <md-button class="md-grid-item-content">
                    <md-icon md-svg-src="{{item.icon}}"></md-icon>
                    <div class="md-grid-text"> {{ item.name }} </div>
                </md-button>

            </md-list-item>
        </md-list>
    </div>
    </md-bottom-sheet>
    </script>
    <script type="text/ng-template" id="bottom-sheet-list-template.html"><md-bottom-sheet class="md-list md-has-header" ng-cloak>
    <md-subheader>Comment Actions</md-subheader>
    <md-list>
        <md-list-item ng-repeat="item in items">

            <md-button
                    ng-click="listItemClick($index)"
                    md-autofocus="$index == 2"
                    class="md-list-item-content" >
                <md-icon md-svg-src="{{item.icon}}"></md-icon>
                <span class="md-inline-list-icon-label">{{ item.name }}</span>
            </md-button>

        </md-list-item>
    </md-list>
    </md-bottom-sheet>
    </script></div>

<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script src="node_modules/angular-material/angular-material.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="node_modules/angular-resource/angular-resource.js"></script>
<script src="node_modules/angular-cookies/angular-cookies.js"></script>
<script src="node_modules/angular-aria/angular-aria.js"></script>
<script src="node_modules/angular-messages/angular-messages.js"></script>
<script src="scripts/amjs.js"></script>
<!--<script>
    var app= angular.module('MNEagle', ['ngMaterial' ])
    app.controller('basicDemoExample', function($scope) {

    });
</script>-->
</body>
</html>